.footer {
  background-color: #000;
  color: #FFF;
  padding: 20px 0 30px;
}

.footer__content {
  display: grid;
  flex-wrap: wrap;
  gap: 30px;
}

.footer__copyriht {
  margin-top: 10px;
  font-weight: 200;
  font-size: 14px;
}

@media (min-width: 560px) {
  .footer__content {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 45px 0;
  }

  .footer__navigation {
    justify-self: end;
  }

  .footer__copyriht {
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  .footer__copyriht {
    font-size: 16px;
  }
}